# dependencies
node_modules/
jspm_packages/

# build output
.next/
out/
dist/
coverage/

# local env
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# cache/temp
.cache/
.parcel-cache/
.nyc_output/
.npm/
.eslintcache
.stylelintcache
.svelte-kit/

# tooling
.vercel/
.vscode-test/
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
supabase/.temp/
